.list {
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь вікна */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.ul_contact{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  
}

.checked{
  padding-top: 10px;
  /* text-decoration: line-through; */
  margin: 0;
}
.fav{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #2a363b;
}

.favorites {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.favorites.isTrue {
  background-color: green;
}

.favorites.isFalse {
  background-color: red;
}

.checked{
padding: auto ;
}

.button_edit{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button_edit:hover {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}

.button_delete{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  
}

.button_delete:hover {
  background-color: rgb(255, 0, 0);
}