.home_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
}
.h1_home {
  font-size: 19px;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 8px 25px 8px 25px;
  border-radius: 1cap;
  background-color: black;
  border: 1px solid;

  font-weight: 700;
  color: #ffffff;
}

.link:hover {
  background-color: #4340ff;
}
img {
  display: flex;
  justify-content: flex-end;
}