.footer_container {
  display: flex;
  align-items: baseline;
  gap: 500px;
  height: 100px;
}
.footer_connect {
  margin-right: 50px;
  font-size: 14px;
}
.icons {
  margin-top: 5px;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
@media (max-width: 768px) {
  .footer_container {
    display: flex;
    align-items: baseline;
    gap: 200px;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .footer_container {
    flex-direction: column; /* Вертикальне розташування елементів */
    align-items: center; /* Елементи вирівнюються по початку */
    gap: 10px; /* Зменшення відстані між елементами */
  }
  .footer_connect {
    margin-right: 10px;
    font-size: 14px;
    text-align: center; /* Вирівнює текст по центру */
  }
}
