.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 0 110px 0;

  justify-content: center;
}
.container {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;

  border-radius: 10px; /* Округлення форми */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Додає тінь */
  background-color: #f9f9f9;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 0 15px 16px 15px;
}

.input {
  padding: 15px;
  margin: 0 15px 0 15px;
  border-radius: 10px; /* Округлення полів */
  border: 1px solid #ccc;
}

.reg_button {
  margin: 15px 30px 0 30px;
  padding: 20px 0;
  border-radius: 10px; /* Округлення кнопки */
  background-color: black;
  border: 1px solid;
  font-weight: 700;
  color: #ffffff;
}

.reg_button:hover {
  background-color: #4340ff;
}

@media (max-width: 768px) {
  .container {
    width: 400px;
    height: 500px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 330px;
    height: 500px;
  }
  .form_container {
    margin: 50px 0 50px 0;
  }
}
