.div_list{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: center;
  gap:10px;
}

.div_search{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 244, 244);
  border-radius: 20px;
  height: 600px;
}

.div_list_contact{
  display: flex;
  flex-direction: column;
}


.favorites {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.favorites.isTrue {
  background-color: green;
}

.favorites.isFalse {
  background-color: red;
}
