.div_list{
  display: flex;
  flex-wrap: nowrap;
}

.div_search{
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 202, 202);
}

.div_list_contact{
  display: flex;
  flex-direction: column;
}

.list{
  border: 1px solid black;
  border-shadow: solid 1px;
  display: flex;
  align-items: center;
  list-style: none; /* Видаляє маркери */
  gap: 20px;
}






.favorites {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.favorites.isTrue {
  background-color: green;
}

.favorites.isFalse {
  background-color: red;
}
