.div_list {
  display: flex;

  justify-content: center;
  gap: 60px;
}

.div_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 244, 244);
  border-radius: 20px;
  gap: 15px;
}
.button_add {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;

  position: sticky;
  top: 10px; /* Прилипає, коли верхній край сторінки досягне цього відступу */
}
.button_add:hover {
  background-color: rgba(6, 9, 197, 0.8);
  box-shadow: 5px 5px 8px 2px #667bd646;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div_list_contact {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
.div_more_button {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  background-color: rgb(241, 244, 244);
  border-radius: 20px;
}
.more_button {
  position: sticky;
  top: 50px; /* Прилипає, коли верхній край сторінки досягне цього відступу */
  padding: 10px 20px;
  background-color: #4c534c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.more_button:hover {
  background-color: rgba(6, 9, 197, 0.8);
  box-shadow: 5px 5px 8px 2px #667bd646;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.no_more_contacts {
  color: red;
  position: sticky;
  bottom: 10px; /* Прилипає, коли верхній край сторінки досягне цього відступу */
}
@media (max-width: 768px) {
  /* Для планшетів */

  .div_list {
    flex-direction: column;
    gap: 20px; /* Зменшити відступи на планшетах */
    justify-content: center;
  }

  .div_search,
  .div_list_contact {
    width: 90%; /* Зменшити ширину для кращої адаптації */
    margin: 0 auto;
  }

  .button_add {
    width: 100%;
    padding: 12px;
    margin-top: 20px; /* Трохи зменшимо відступ */
  }

  .div_more_button {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  .more_button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Для телефонів */

  .div_list {
    flex-direction: column;
    gap: 10px; /* Ще більше зменшуємо відступи для телефонів */
  }

  .div_search,
  .div_list_contact,
  .div_more_button {
    width: 100%; /* Використовуємо всю доступну ширину */
    margin: 0 auto;
    padding: 10px;
  }

  .button_add {
    width: 100%; /* Кнопка займає всю ширину */
    padding: 15px;
    margin-top: 20px;
    position: static;
  }

  .more_button {
    width: 100%; /* Кнопка займає всю ширину */
    padding: 15px;
  }

  .no_more_contacts {
    font-size: 14px; /* Зменшуємо розмір шрифту для телефонів */
    position: sticky;
    bottom: 5px; /* Зменшимо нижній відступ */
  }
}
